/*********
header
**********/
.header {
  display: flex;
  justify-content: space-around;
}

.delphine img {
  border-radius: 100%;
}

/*********
main
**********/
.main {
  background-color: rgb(182, 165, 165);
  color: white;
}

h2 {
  color: rgb(18, 18, 110);
}

/*********
    compétences
    **********/
.competences h4:hover {
  color: rgb(18, 18, 110);
  font-weight: bold;
  font-size: 150%;
  transition: 1s;
}

.competences img {
  width: 20%;
}

/*********
          realisation
***************/
.article {
  border-radius: 20px;
  padding-bottom: 50px;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}


/* .realisation img {
  width: 80%;

} */

.image img {
  box-shadow: 2px 2px 5px 5px white;
  border: 1px solid white;
  width: 90%;
}


.fleche img {
  width: 10%;
}

.bcompetences {
  border: 1px solid #23a5ea;
  border-radius: 25%;
  background-color: #23a5ea;
  margin: 10px;
}

.github img {
  width: 50px;
}


/*******/
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/****************
    média querys
    mobile
***************/
@media (max-width: 991px) {
  .logo img {
    width: 60%;
  }

  .delphine img {
    justify-content: left;
    width: 30%;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
  }

  /* .competences {
    margin: 30px;
  } */


  .image a img {
    width: 80%;
  }

}